@page "/admin"

<PageTitle>Admin</PageTitle>

<div class="row">
    <div class="col">
        <h3>¡Pero que elegancia la de Fráncia! un admin</h3>
        <img src="./img/elegancia.jpg" width="200" />
    </div>
</div>

