@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to the salazarcode website. 

<p>salazarcode@gmail.com</p>
<p>Cambios en secrets.</p>
<p>Un slash que faltaba...</p>
<p>Dios manda fuego...</p>
<p>y azufre...</p>
