@page "/"
@layout LandingLayout

<!-- Contenedor central -->
<div class="content-container">
    <div>
        <h1>salazarcode.net</h1>
        <p>Fusce dapibus tellus ac cursus commodo. Duis mollis est non commodo luctus, nisi erat porttitor.</p>
    </div>
</div>