@page "/"
@layout LandingLayout

<!-- Contenedor central -->
<div class="content-container">
    <div>
        <h1>salazarcode.net</h1>
        <p>El sitio web de un desarollador sin mucho css en la cartera.</p>
        <img src="./img/drink.gif" alt="Description of image" width="500">
    </div>
</div>