@page "/"
@layout LandingLayout

<!-- Contenedor central -->
<div class="content-container">
    <div>
        <h1>salazarcode.net</h1>
        <p style="word-break:break-word">El sitio web de un desarollador sin mucho css en la cartera.</p>
        <img src="./img/ledder.gif" alt="Description of image" width="500vw">
    </div>
</div>