@page "/"
@layout LandingLayout

<!-- Contenedor central -->
<div class="content-container">
    <div>
        <h1>salazarcode.net</h1>
        <p>El sitio web de un ingeniero de software con poco css en su curriculum</p>
    </div>
</div>