body{
    margin: 0;
    padding: 0;

    display:flex;
    justify-content:center;
    flex-direction: column;
    color: black;
    width: 100vw;
    height: 100vh;
    font-size: 12pt;
}

header{
    background: #6D9773;
    height:20%;
    box-sizing: border-box;
    padding: 1em 1em;
    color:white;
}

header h1{
    text-decoration: underline;
    font-size: 1.2rem;

}

main{
    background: white;   
    color:#0C3B2E; 
    height:70%;
    box-sizing: border-box;
    padding: 1em;
    overflow-y:auto;
}

main article p{
    font-size: 0.8rem;
}

footer{
    background: #0C3B2E;
    height:10%;
    box-sizing: border-box;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

footer ul{
    display: flex;
    justify-content:space-around;
    margin:0;
    padding:0;
}
footer li{
    height: 100%;
    padding: 0.5em;
    list-style-type: none;
    text-align: center;
}

footer nav a{
    color:#FFBA00;
}

footer nav a:hover{
    color:#5ee41b;
}