body{
    background: white;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    text-align: left;
    padding: 0;
    margin: 0;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

nav img{
    width: 20rem;
}

h1{
    text-align: center;
    color: #0C3B2E;
}

h2{
    color: #FFBA00;
    text-align: center;
}

.content{
    margin: auto;
    width: 80%;
}

.row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.col{
    padding: 0em 1em;
    width: 30%;
    background:#0C3B2E;
    color: white;
}

.col p{
    text-align: left;
    font-size: 1.2rem;
}
.br-title{
    display: none;
}

@media (max-width:800px){

    .br-title{
        display: block;
    }
    .content{
        width: 100%;
    }
    .content p{        
        box-sizing: border-box;
        padding: 1em 1em;
    }
    .row{
        flex-direction: column;
        margin-bottom: 0em;
    }
    .col{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 1em;
        padding: 1em 1em;
    }    
    .col p{
        font-size: 1.15rem;
    }
    nav img{
        width: 60%;
    }
}